@{
    ViewBag.Title = "About";
}
<h2>surfaceplot2</h2>
<h4>A data visualization application using .NET Core and Angular 5</h4>
<br />
<h4><i>How to use:</i></h4>
<br />
<h4>Green controls are used to specify parameters for creating a new random surface</h4>
<ul>
    <li>n specifies the resolution in the x and y dimensions</li>
    <li>min and max specify the range of values in each dimension</li>
    <li>the Z values are then randomly generated, averaged with their neighbors using the coefficient Averaging--this process is iterated Smoothing times</li>
    <li>at the end of smoothing, the Z values are redistributed over the Z range using the Compression coefficient.  This reverses the tendency toward the average which the averaging introduces</li>
</ul>
<h4>Blue controls are used to specify the viewing angles for the renderer</h4>
