@{
    ViewBag.Title = "Contact";
}
<h4>surfaceplot2 was created by...</h4>
<h3>Christopher Carter</h3>

<address>
    Portland, OR<br />
    <strong>Phone:</strong>   <a href="#">503-407-9500</a><br />
    <strong>LinkedIn:</strong>   <a href="#">chriscarter777</a><br />
    <strong>GitHub:</strong> <a href="#">chriscarter777</a>
</address>
